.footer-end{
    /* width:100%; */
    color: white;
    margin-top: -20px;
    /* border:3px blue solid; */
    background-color: #06022b;
    padding: 80px 80px 0 80px;
}
.footer-end>p{
    text-align: end;
    padding-right: 80px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
.footer-end-img{
    /* border:3px blue solid; */
    display: flex;
    justify-content: center;
}

.footer-end-img>img{
    margin:0px 10px;
    width:220px;
    border-radius: 8px;
    max-width: 18%;
}